<form class="mt-8" action="https://formspree.io/xnqdwygp" [formGroup]="contactForm" method="POST"
    (ngSubmit)="onSubmit()">
    <div class="row m-0 px-2 px-sm-10 align-items-center justify-content-center">
        <div class="col-12 text-center">
            <div *ngIf="submitted" class="alert alert-success" role="alert">{{ 'CONTACT-FORM.SENT' | translate }}</div>
        </div>
    </div>
    <div class="row m-0 px-2 px-sm-10 align-items-center justify-content-center">
        <div class="col-md-3 col-12 mt-md-0 mt-5">
            <input type="text" formControlName="fullName" class="form-control py-7" placeholder="{{ 'CONTACT-FORM.FULL-NAME' | translate }}" required>
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-5">
            <input type="email" formControlName="_replyto" name="_replyto" class="form-control py-7" placeholder="{{ 'CONTACT-FORM.EMAIL' | translate }}"
                required>
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-5">
            <textarea rows="1" formControlName="message" name="message" class="form-control py-4"
                placeholder="{{ 'CONTACT-FORM.MSG' | translate }}" style="resize: none; height: 58px;" required></textarea>
        </div>
        <div class="col-md-3 col-12 mx-auto">
            <button type='submit' [disabled]="!contactForm.valid"
                class="mt-md-0 mt-5 btn btn-danger rounded-pill py-4 w-100">{{ 'CONTACT-FORM.SUBMIT' | translate }}</button>
        </div>
    </div>
</form>
