.extras-image {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.services-image {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}

.h1 {
  font-family: "Lora", sans-serif;
  font-style: italic;
}
