<div *ngIf="room$ | async as room">

  <div class="row py-lg-16 no-gutters align-items-center" *ngIf="room.fields.description">
    <div class="col-lg-6">
      <img draggable="false" class="shadow-sm extras-image" src="{{ room.fields.medias[0].fields.file.url }}" alt="" />
    </div>
    <div class="col-lg-6 d-flex justify-content-md-center">
      <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
        <div class="h1 ml-md-n8" *ngIf="lang === 'fr'">{{ room.fields.title }}</div>
        <div class="h1 ml-md-n8" *ngIf="lang === 'en'">{{ room.fields.titleEn }}</div>
        <div class="pl-8 border-left border-grey py-4 mt-8 text-justify">
          <p [innerHtml]="room.fields.description | mdToHtml" *ngIf="lang==='fr'"></p>
          <p [innerHtml]="room.fields.descriptionEn | mdToHtml" *ngIf="lang==='en'"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-16 no-gutters align-items-center" *ngIf="room.fields.description2">
    <div class="col-lg-6 d-flex justify-content-md-center order-lg-1 order-2">
      <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
        <div class="h1 ml-md-n8" *ngIf="lang==='fr'">{{ room.fields.title2 }}</div>
        <div class="h1 ml-md-n8" *ngIf="lang==='en'">{{ room.fields.title2En }}</div>

        <div class="pl-8 border-left border-grey py-4 mt-8">
          <p [innerHtml]="room.fields.description2 | mdToHtml" *ngIf="lang==='fr'"></p>
          <p [innerHtml]="room.fields.description2En | mdToHtml" *ngIf="lang==='en'"></p>

        </div>
      </div>
    </div>
    <div class="col-lg-6 order-lg-2 order-1">
      <img draggable="false" class="shadow-sm extras-image" src="{{ room.fields.medias[1].fields.file.url }}" alt="" />
    </div>
  </div>

  <div class="row py-16 no-gutters align-items-center" *ngIf="room.fields.description3">
    <div class="col-lg-6">
      <img draggable="false" class="shadow-sm extras-image" src="{{ room.fields.medias[2].fields.file.url }}" alt="" />
    </div>
    <div class="col-lg-6 d-flex justify-content-md-center">
      <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
        <div class="h1 ml-md-n8" *ngIf="lang==='fr'">{{ room.fields.title3 }}</div>
        <div class="h1 ml-md-n8" *ngIf="lang==='en'">{{ room.fields.title3En }}</div>

        <div class="pl-8 border-left border-grey py-4 mt-8">
          <p [innerHtml]="room.fields.description3 | mdToHtml" *ngIf="lang==='fr'"></p>
          <p [innerHtml]="room.fields.description3En | mdToHtml" *ngIf="lang==='en'"></p>

        </div>
      </div>
    </div>
  </div>

  <div class="row py-16 no-gutters align-items-center" *ngIf="room.fields.description4">
    <div class="col-lg-6 d-flex justify-content-md-center order-lg-1 order-2">
      <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
        <div class="h1 ml-md-n8" *ngIf="lang==='fr'">{{ room.fields.title4 }}</div>
        <div class="h1 ml-md-n8" *ngIf="lang==='en'">{{ room.fields.title4En }}</div>

        <div class="pl-8 border-left border-grey py-4 mt-8">
          <p [innerHtml]="room.fields.description4 | mdToHtml" *ngIf="lang==='fr'"></p>
          <p [innerHtml]="room.fields.description4En | mdToHtml" *ngIf="lang==='en'"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 order-lg-2 order-1">
      <img draggable="false" class="shadow-sm extras-image" src="{{ room.fields.medias[3].fields.file.url }}" alt="" />
    </div>
  </div>


</div>
