<form #formAVP ngNoForm id="AVP" target="_blank" [formGroup]="reservationForm" method="POST"
  action="https://www.secure-hotel-booking.com/Maison-Fredon/2EAQ/search?hotelId=16896"
  class="bg-white rounded-lg shadow">
  <input type="hidden" id="language" name="language" formControlName="language" />
  <input type="hidden" id="AVP_arrivalDate" name="arrivalDate" formControlName="arrivalDate" />
  <input type="hidden" id="AVP_nights" name="nights" formControlName="nights" />
  <input type="hidden" id="_ga" name="_ga" formControlName="_ga" />
  <input type="hidden" id="guestCountSelector" name="guestCountSelector" formControlName="guestCountSelector" />
  <input type="hidden" id="crossSell" name="crossSell" formControlName="crossSell" />
  <input type="hidden" id="selectedAdultCount" name="selectedAdultCount" formControlName="selectedAdultCount">
  <input type="hidden" id="selectedChildCount" name="selectedChildCount" formControlName="selectedChildCount">
  <input type="hidden" id="selectedInfantCount" name="selectedInfantCount" formControlName="selectedInfantCount">

  <div class="p-4">

    <div class="my-4">
      <div class="styled-input datepickbox position-relative">
        <input type="text" class="datepickbox" readonly [value]="todayDate" (click)="arrivalDatePicker.open()"
          [matDatepicker]="arrivalDatePicker" (dateInput)="onArrivalDateChange($event)">
        <label>{{ "RESERVATION-FORM.DEPARTURE-DATE" | translate }}</label>
      </div>
    </div>

    <div class="my-4">
      <div class="styled-input datepickbox position-relative">
        <input type="text" class="datepickbox" readonly [value]="tomorrowDate" (click)="departureDatePicker.open()"
          [matDatepicker]="departureDatePicker" (dateInput)="onDepartureDateChange($event)">
        <label>{{ "RESERVATION-FORM.ARRIVAL-DATE" | translate }}</label>
      </div>
    </div>

    <mat-datepicker touchUi="true" #arrivalDatePicker></mat-datepicker>
    <mat-datepicker touchUi="true" #departureDatePicker></mat-datepicker>

    <div class="my-4">
      <div class="inline-select">
        <ul>
          <li [ngClass]="{'checked': item.checked}" (click)="onChangeAdultCount(item)" *ngFor="let item of adultCount">
            {{item.value}}
          </li>
        </ul>
        <div style="background-color: white;">
          <label>{{ "RESERVATION-FORM.ADULT-AMOUNT" | translate }}</label>
        </div>
      </div>
    </div>


    <div class="my-4">
      <div class="d-flex">

        <div class="inline-select flex-grow-1 mr-2">
          <ul>
            <li [ngClass]="{'checked': item.checked}" (click)="onChangeBabyCount(item)" *ngFor="let item of babyCount">
              {{item.value}}
            </li>
          </ul>
          <label>{{ "RESERVATION-FORM.BABY" | translate }}</label>
        </div>
        <div class="inline-select flex-grow-1 ml-2">
          <ul>
            <li [ngClass]="{'checked': item.checked}" (click)="onChangeChildCount(item)"
              *ngFor="let item of childCount">
              {{item.value}}
            </li>
          </ul>
          <label>{{ "RESERVATION-FORM.CHILDREN" | translate }}</label>
        </div>
      </div>
    </div>
  </div>


  <button type="submit" (click)="submitReservation()"
    class="border-0 w-100 py-6 bg-red font-weight-bold text-white h6 mb-0 rounded-bottom">{{ "RESERVATION-FORM.SEARCH" | translate }}</button>
</form>
