.header {
  position: relative;
  background-position: bottom center;
  background-size: cover;
  font-family: Lora, sans-serif;

  &--overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba($color: #2c2c2c, $alpha: 0.6);
    margin-top: -3rem;
  }

  nav {
    .navbar-brand {
      font-size: 28px;
    }

    a {
      font-size: 16px;
    }
  }
}

.join-us {
  font-family: 'Lora', sans-serif;
  font-style: italic;
}

.top-nav {
  z-index: 1000;
  position: relative;
}

@media (max-width: 991px) {
  .flags {
    margin-left: auto;
  }
}
