<header class="header js-header bg-white" [ngStyle]="{
    'background-image': isHomeRoute()
      ? 'url(../assets/images/vignette.jpg)'
      : '',
    'min-height': isHomeRoute() ? '85vh' : '0'
  }">
  <div class="top-nav d-flex bg-dark py-2 px-8 align-items-baseline">
    <div class="h5">
      <i class="fas fa-phone-alt text-light"></i>
      <span class="ml-4 h6 text-light">06 77 28 59 23</span>
    </div>
    <div class="d-lg-flex d-none ml-auto h5 mb-0 align-items-baseline">
      <span class="join-us h5 text-light">{{ 'JOIN-US' | translate }} !</span>
      <a href="{{ facebook }}"><i class="fab fa-facebook-f text-light ml-8"></i></a>
      <a href="{{ instagram }}"><i class="fab fa-instagram text-light ml-8"></i></a>
      <a href="{{ tripAdvisor }}"><i class="fab fa-tripadvisor text-light ml-8"></i></a>

    </div>
    <div class="d-lg-flex flags">
      <span class="ml-8" style="cursor: pointer;" (click)="translateTo('fr')">
        <svg width="18px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
          style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256" />
          <path style="fill:#D80027;"
            d="M512,256c0-110.071-69.472-203.906-166.957-240.077v480.155C442.528,459.906,512,366.071,512,256z" />
          <path style="fill:#0052B4;"
            d="M0,256c0,110.071,69.473,203.906,166.957,240.077V15.923C69.473,52.094,0,145.929,0,256z" />
        </svg>
      </span>
      <span class="ml-8" style="cursor: pointer;" (click)="translateTo('en')">
        <svg width="18px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
          style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256" />
          <g>
            <path style="fill:#0052B4;"
              d="M52.92,100.142c-20.109,26.163-35.272,56.318-44.101,89.077h133.178L52.92,100.142z" />
            <path style="fill:#0052B4;"
              d="M503.181,189.219c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075,89.076H503.181z" />
            <path style="fill:#0052B4;" d="M8.819,322.784c8.83,32.758,23.993,62.913,44.101,89.075l89.074-89.075L8.819,322.784L8.819,322.784
		z" />
            <path style="fill:#0052B4;"
              d="M411.858,52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.177L411.858,52.921z" />
            <path style="fill:#0052B4;"
              d="M100.142,459.079c26.163,20.109,56.318,35.272,89.076,44.102V370.005L100.142,459.079z" />
            <path style="fill:#0052B4;"
              d="M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z" />
            <path style="fill:#0052B4;"
              d="M322.783,503.181c32.758-8.83,62.913-23.993,89.075-44.101l-89.075-89.075V503.181z" />
            <path style="fill:#0052B4;"
              d="M370.005,322.784l89.075,89.076c20.108-26.162,35.272-56.318,44.101-89.076H370.005z" />
          </g>
          <g>
            <path style="fill:#D80027;" d="M509.833,222.609h-220.44h-0.001V2.167C278.461,0.744,267.317,0,256,0
		c-11.319,0-22.461,0.744-33.391,2.167v220.44v0.001H2.167C0.744,233.539,0,244.683,0,256c0,11.319,0.744,22.461,2.167,33.391
		h220.44h0.001v220.442C233.539,511.256,244.681,512,256,512c11.317,0,22.461-0.743,33.391-2.167v-220.44v-0.001h220.442
		C511.256,278.461,512,267.319,512,256C512,244.683,511.256,233.539,509.833,222.609z" />
            <path style="fill:#D80027;" d="M322.783,322.784L322.783,322.784L437.019,437.02c5.254-5.252,10.266-10.743,15.048-16.435
		l-97.802-97.802h-31.482V322.784z" />
            <path style="fill:#D80027;" d="M189.217,322.784h-0.002L74.98,437.019c5.252,5.254,10.743,10.266,16.435,15.048l97.802-97.804
		V322.784z" />
            <path style="fill:#D80027;" d="M189.217,189.219v-0.002L74.981,74.98c-5.254,5.252-10.266,10.743-15.048,16.435l97.803,97.803
		H189.217z" />
            <path style="fill:#D80027;" d="M322.783,189.219L322.783,189.219L437.02,74.981c-5.252-5.254-10.743-10.266-16.435-15.047
		l-97.802,97.803V189.219z" />
          </g>
        </svg>
      </span>
    </div>
  </div>
  <div class="header--overlay d-flex align-items-center justify-content-lg-end justify-content-center px-lg-40 px-2"
    *ngIf="isHomeRoute()">
    <div class="mt-40">
      <app-reservation-form></app-reservation-form>
    </div>
  </div>
  <nav class="js-header-navbar py-4 navbar navbar-expand-md align-items-center navbar-light bg-white px-lg-40 px-2">
    <a class="navbar-brand h2 mb-0 text-uppercase text-decoration-none" [routerLink]="''">Maison Fredon</a>
    <button class="navbar-toggler border-0" (click)="setBackgroundWhite($event)" type="button" data-toggle="collapse"
      data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-truncate" [routerLink]="''">{{ 'MENU.OUR-CONCEPT' | translate }}<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-truncate" [routerLink]="['/rooms']">{{ 'MENU.OUR-ROOMS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-truncate" [routerLink]="['/services']">{{ 'MENU.OUR-SERVICES' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-truncate" [routerLink]="['/discover']">{{ 'MENU.DISCOVER-BDX' | translate }}</a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link text-truncate"
            href="https://www.secure-hotel-booking.com/Maison-Fredon/2EAQ/fr?hotelId=16896"
            target="_blank">{{ 'MENU.BOOK' | translate }}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 d-md-block d-none">
        <a href="https://www.secure-hotel-booking.com/Maison-Fredon/2EAQ/fr?hotelId=16896"
          class="js-header-navbar-btn ml-3 btn btn-outline-dark rounded-pill px-5"
          target="_blank">{{ 'MENU.BOOK' | translate }}</a>
      </form>
    </div>
  </nav>
</header>

<main>
  <ng-content></ng-content>
</main>

<footer>
  <nav class="py-10 navbar navbar-expand-md align-items-center navbar-light bg-transparent container">
    <a class="h5 m-0 text-dark text-uppercase text-decoration-none" href="#">Maison Fredon</a>
    <div class="d-flex ml-auto">
      <a href="{{ facebook }}"><i class="fab fa-facebook-f text-dark px-2"></i></a>
      <a href="{{ instagram }}"><i class="fab fa-instagram text-dark px-2"></i></a>
      <a href="{{ tripAdvisor }}"><i class="fab fa-tripadvisor text-dark px-2"></i></a>
    </div>
  </nav>

  <ul class="nav justify-content-center">
    <li class="nav-item p-8">
      <div>
        <div class="mb-3">
          <i class="fas fa-phone mr-2"></i><span class="font-weight-bold">Contact</span>
        </div>
        <div>maisonfredonbordeaux@gmail.com</div>
        <div>06 36 07 39 18</div>
      </div>
    </li>
    <li class="nav-item p-8">
      <div class="mb-3">
        <i class="fas fa-handshake mr-2"></i>
        <span class="font-weight-bold">{{ 'MENU.OUR-PARTNERS' | translate }}</span>
      </div>
      <a class="text-dark" style="text-decoration: underline;" href="http://www.latupina.com/">La Tupina</a>
    </li>
  </ul>

  <div class="row container mx-auto">
    <div class="w-100">
      <hr class="mx-auto" />
    </div>

    <div class="d-flex justify-content-between w-100">
      <div class="">
        © Created By <span class="font-weight-bold">Mattis BETOURNE</span>
      </div>
      <div class="">All Rights Reserved</div>
    </div>
  </div>
</footer>
