<div>
  <div class="row m-0">
    <div class="col-12 m-0 p-0">
      <img draggable="false" src="../../assets/images/services.jpg" class="services-image" alt="" />
    </div>
  </div>

  <div class="row py-lg-16 no-gutters align-items-center">
    <div class="col-lg-6">
      <img draggable="false" class="shadow-sm extras-image" src="../../assets/images/bed.jpg" alt="">
    </div>
    <div class="col-lg-6 d-flex justify-content-md-center">
      <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;" *ngIf="service$ | async as service">
        <div class="h1 ml-md-n8">{{ "SERVICES.INCLUDED-SERVICES" | translate }}</div>
        <div class="pl-8 border-left border-grey py-4 mt-8 text-justify">
          <p [innerHtml]="service.fields.text1 | mdToHtml" *ngIf="lang === 'fr'"></p>
          <p [innerHtml]="service.fields.text1En | mdToHtml" *ngIf="lang === 'en'"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row py-lg-16 no-gutters align-items-center">
  <div class="col-lg-6 d-flex justify-content-md-center order-lg-1 order-2">
    <div class="px-4 pt-4 pt-lg-0" *ngIf="service$ | async as service">
      <div class="h1 ml-md-n8">{{ "SERVICES.EXTRAS" | translate }}</div>
      <div class="pl-8 border-left border-grey py-4 mt-8">
        <p [innerHtml]="service.fields.text2 | mdToHtml" *ngIf="lang === 'fr'"></p>
        <p [innerHtml]="service.fields.text2En | mdToHtml" *ngIf="lang === 'en'"></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 order-lg-2 order-1">
    <img draggable="false" class="shadow-sm extras-image" src="../../assets/images/extras.jpg" alt="">
  </div>
</div>
