<div *ngIf="discover$ | async as discovers">

  <div *ngFor="let discover of discovers; let i = index;">
    <div class="row py-lg-16 no-gutters align-items-center" *ngIf="i % 2 === 0">
      <div class="col-lg-6">
        <img draggable="false" class="shadow-sm extras-image" *ngIf="" src="{{ discover.fields.image.fields.file.url }}"
          alt="" />
      </div>
      <div class="col-lg-6 d-flex justify-content-md-center">
        <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
          <div class="h1 ml-md-n8" *ngIf="lang === 'fr'">{{ discover.fields.title }}</div>
          <div class="h1 ml-md-n8" *ngIf="lang === 'en'">{{ discover.fields.titleEn }}</div>
          <div class="pl-8 border-left border-grey py-4 mt-8 text-justify">
            <p [innerHtml]="discover.fields.description | mdToHtml" *ngIf="lang === 'fr'"></p>
            <p [innerHtml]="discover.fields.descriptionEn | mdToHtml" *ngIf="lang === 'en'"></p>

          </div>
        </div>
      </div>
    </div>

    <div class="row py-16 no-gutters align-items-center" *ngIf="i % 2 === 1">
      <div class="col-lg-6 d-flex justify-content-md-center order-lg-1 order-2">
        <div class="px-4 pt-4 pt-lg-0" style="max-width: 500px;">
          <div class="h1 ml-md-n8" *ngIf="lang === 'fr'">{{ discover.fields.title }}</div>
          <div class="h1 ml-md-n8" *ngIf="lang === 'en'">{{ discover.fields.titleEn }}</div>
          <div class="pl-8 border-left border-grey py-4 mt-8">
            <p [innerHtml]="discover.fields.description | mdToHtml" *ngIf="lang === 'fr'"></p>
            <p [innerHtml]="discover.fields.descriptionEn | mdToHtml" *ngIf="lang === 'en'"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <img draggable="false" class="shadow-sm extras-image"
          src="{{ discover.fields.image ? discover.fields.image.fields.file.url : '' }}" alt="" />
      </div>
    </div>
  </div>
</div>
