select {
  @extend .py-3;
  @extend .rounded-lg;
}

input:focus {
  //   border-radius: .5rem;
  outline-color: transparent;
}

.styled-input input[type=email],
.styled-input input[type=password],
.styled-input input[type=text],
.styled-input textarea {
  display: block;
  font-family: Lora, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 4.25rem;
  min-height: 4.25rem;
  color: #ff5a5f;
  width: 100%;
  padding: 0 1.5rem;
  border-radius: .5rem;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: #fff;
}

.datepickbox {
  cursor: pointer;
}


.styled-input label,
.inline-select label {
  background-color: #fff;
  padding: 0;
  left: 1.5rem;
  font-size: 0.8rem;
  line-height: 0;
  transition: all .25s ease;
  position: absolute;
  top: 0;
  color: #a3aab0;
}

.inline-select {
  font-family: Lora, sans-serif;
  border-radius: .5rem;
  border: 1px solid #ebebeb;
  position: relative;

  ul {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;

    li {
      font-size: 1.2rem;
      line-height: 4.25;
      color: #a3aab0;
      cursor: pointer;
    }

    li.checked {
      color: #ff5a5f;
      font-weight: 700;
    }
  }
}
