$dark: #2c2c2c;
$red: #ff5a5f;

$headings-font-family: 'Spinnaker',
sans-serif;

$spacer: 1rem;
$spacers:(0: 0);

@for $i from 1 through 150 {
  $spacers: map-merge($map1: $spacers, $map2: ($i: ($i * $spacer) * 0.25));
}

;

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba(0, 0, 0, 0);
$navbar-dark-toggler-border-color: rgba(0, 0, 0, 0);
