<div *ngIf="reviews" id="reviewsCarousel" class=" carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators" style="top: 10rem;">
        <li data-target="#reviewsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#reviewsCarousel" data-slide-to="1"></li>
        <li data-target="#reviewsCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{active: isFirst}" *ngFor="let review of reviews; let isFirst = first">
            <div class="text-white">
                <i class="fas fa-star text-light mx-1"></i>
                <i class="fas fa-star text-light mx-1"></i>
                <i class="fas fa-star text-light mx-1"></i>
                <i class="fas fa-star text-light mx-1"></i>
                <i class="fas fa-star text-light mx-1"></i>
            </div>
            <p class="mt-5 h3 text-white text-break text-truncate">
                "{{review.fields.message}}"
            </p>
            <div class="mt-3 font-italic text-white">{{review.fields.fullName}}</div>
        </div>

    </div>
</div>