.card-img-top__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(136, 136, 136, 0) 74%, rgba(136, 136, 136, 0.25) 82%, rgba(6, 6, 7, 0.8) 100%);
}

agm-map {
  height: 400px;
}
