<section class="row m-0 justify-content-center py-20">
  <div class="col-md-6 col-10" *ngIf="about$ | async as about">
    <h2 class="h2 text-dark text-center text-uppercase" *ngIf="lang === 'fr'">
      {{ about.fields.title }}
    </h2>
    <h2 class="h2 text-dark text-center text-uppercase" *ngIf="lang === 'en'">
      {{ about.fields.titleEn }}
    </h2>
    <hr class="w-25 text-center" />
    <p class="text-secondary text-justify" [innerHtml]="about.fields.subtitle | mdToHtml" *ngIf="lang === 'fr'"></p>
    <p class="text-secondary text-justify" [innerHtml]="about.fields.subtitleEn | mdToHtml" *ngIf="lang === 'en'"></p>

    <p class="mt-6 text-secondary text-justify text-justify" [innerHtml]="about.fields.content | mdToHtml"
      *ngIf="lang === 'fr'"></p>
      <p class="mt-6 text-secondary text-justify text-justify" [innerHtml]="about.fields.contentEn | mdToHtml"
      *ngIf="lang === 'en'"></p>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <div class="text-center">
        <div class="h3 mb-4">{{ 'HOME.FIND-US' | translate }}</div>
        <div>5 rue Porte de la monnaie</div>
        <div>33800 Bordeaux</div>
        <div class="mt-3">{{ 'HOME.AIRPORT-DISTANCE' | translate }}</div>
        <a href="https://www.google.com/maps/dir//5+Rue+Porte+de+la+Monnaie,+33800+Bordeaux"
          class="mt-6 btn btn-outline-dark rounded-0 w-100">{{ 'HOME.WATCH' | translate }}</a>
      </div>
    </div>
    <div class="col-9">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="darkStyle">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>


</section>
<section class="py-30 bg-danger">
  <div class="row m-0 justify-content-center">
    <app-reviews-carousel class="col-10 text-center"></app-reviews-carousel>
  </div>
</section>

<section class="py-20">
  <div class="row m-0 justify-content-center">
    <div>
      <h2 class="h2 text-dark text-uppercase">Questions?</h2>
      <hr class="w-25" />
    </div>
  </div>
  <app-contact-form></app-contact-form>
</section>
