<div>
  <div *ngIf="suite$ | async as suite" class="row">
    <div class="col-12">
      <p class="text-secondary text-center" [innerHtml]="suite.fields.headerText | mdToHtml" *ngIf="lang === 'fr'"></p>
      <p class="text-secondary text-center" [innerHtml]="suite.fields.headerTextEn | mdToHtml" *ngIf="lang === 'en'">
      </p>

    </div>
  </div>
  <div style="cursor: pointer" [routerLink]="['/rooms', room.fields.slug]" class="row py-12"
    *ngFor="let room of rooms$ | async; let i = index" [ngClass]="{'justify-content-end': i%2 == 1}">
    <div class="col-lg-7 px-0" [ngClass]="{'order-1': i%2 == 0, 'order-12': i%2 == 1}">
      <img draggable="false" class="room-image" src="{{ room.fields.image.fields.file.url }}"
        alt="{{ room.fields.name }}" />
    </div>
    <div class="col-lg-5 px-0 align-self-center"
      [ngClass]="{'order-12 pr-xl-45 pr-lg-12': i%2 == 0, 'order-1 pl-xl-45 pl-lg-12': i%2 == 1}">
      <div class="room-details text-white" [ngStyle]="{'background-color': room.fields.color}">
        <h3 class="text-light" *ngIf="lang === 'fr'">
          {{ room.fields.name }}
        </h3>
        <h3 class="text-light" *ngIf="lang === 'en'">
          {{ room.fields.nameEn }}
        </h3>
        <div class="mb-1">
          <i class="fas fa-layer-group mr-2 text-light"></i>
          <span class="text-light">{{ room.fields.superficie }} m²</span>
        </div>
        <div>
          <i class="fas fa-user mr-2 text-light"></i>
          <span class="text-light">{{ room.fields.occupantsMax }} {{'ROOMS.PEOPLE' | translate}}</span>

        </div>
        <div class="mt-5 text-right">
          <i class="fas fa-eye mr-2 text-light"></i>
          <a style="text-decoration: underline;" [routerLink]="['/rooms', room.fields.slug]"
            class="text-light">{{ 'ROOMS.DISCOVER' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
