.room-details {
  padding: 3rem 4rem 3rem 4rem;
}

.room-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

h3 {
  font-family: Lora, sans-serif;
  font-size: 2.8rem;
  font-style: italic;
}

@media (min-width: 992px) {
  h3 {
    font-size: 3rem;
  }

  .room-image {
    height: 550px;
  }
}

@media (min-width: 768px) {
  .room-image {
    height: 550px;
  }
}
